:root{
    font-size: 15px;
    --secondary-font: 'Josefin Sans', sans-serif;
    --primary-font: 'Alata', sans-serif;
    --mobile-padding: 2rem;
}
html {
    box-sizing: border-box;
}
*, 
*::after, 
*::before{
    box-sizing: inherit;    
}
body {  
    margin: 0;
    font-family: var(--primary-font);
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
@media screen and (min-width: 768px) {
    :root{
        --mobile-padding: 8rem; 
    }
}