.card{
    position: relative;
    font-family: var(--secondary-font);
    color: var(--white-10);
}
.card__img {
    width: 100%; 
    filter: brightness(75%);
}
.card__text {
    display: inline-block;
    max-width: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1rem;
    font-size: 1.5rem; 
    text-align: start;
    text-transform: uppercase;
}