@import './footer-menu.css';
@import './social-media.css';

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: var(--gray-10);
    background-color: var(--black-10); 
    padding-left: var(--mobile-padding);
    padding-right: var(--mobile-padding);
    padding-top: calc(var(--mobile-padding)*2);
    padding-bottom: calc(var(--mobile-padding)*2);
}
.footer__information-company{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .footer{
        flex-direction: row;
        justify-content: space-between;
        align-content: end;
        padding-top: calc(var(--mobile-padding)/2);
        padding-bottom: calc(var(--mobile-padding)/2);
    }
    .footer__text{
        margin-bottom: 0;
    }
    .footer__information-company{
        align-items:flex-end ;
    }
}