.top-bar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: var(--mobile-padding);
    padding-right: var(--mobile-padding);
    z-index: 110;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color ease .4s;
}
.top-bar--bg-black-10{
    background-color: var(--black-10);
}
.top-bar__icon-menu, .logo{
    position: relative;
    z-index: 100;

}
@media screen and (min-width: 768px) {
    .top-bar__icon-menu{
        display: none;
    }
}